.jumbotron{
    text-align: center;
    background: none;
}
.section1{
    background-color: #eceeef;
    padding: 2em;
}
.section2{
    background-color: #cccccc;
    padding: 2rem;
}
.feedback{
    margin-top: 20px;
}
.feedbackbtn{
    background-color: red;
    color: white;
    display: block;
    margin: auto;
}
.modal-title{
    margin: auto;
    padding-left: 15%;
}
.modal-body{
    margin: auto;
    padding-left: 16%;
}

.modalform{
 padding-left: 5%;
 padding-top: 2rem;
}
.imgcenter{
    display: block;
    padding-top: 2rem;
    margin: auto;
}
.btncenter{
    display: block;
    margin: auto;
    background-color: red;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 79%;
}
.size{
    padding: 10px;
    padding-left:2rem;
    padding-top: 40px;
}
.fa-facebook-square{
    color: #3b5998;
    padding-left: 45%;
    padding-right:2rem;
}
.fa-google-plus-square{
    color: #c32f10;
    padding: 2rem;
}
.fa-instagram {
color: #ffffff;
padding: 2rem;
}
.social{
    margin: auto;
}